@use 'sass:string';
@use 'sass:map';
@use 'root' as *;
@use 'variable' as *;

// media
@mixin media($args) {
  @if $args == 'hover' {
    @media (hover: hover) {
      @content;
    }
  } @else if $args == 'retina' {
    @media only screen and (resolution <= 2dppx) {
      @content;
    }
  } @else {
    @media screen and (max-width: map.get($breakpoints, $args)) {
      @content;
    }
  }
}

// apply-breakpoints
@mixin apply-breakpoints {
  @content (null);
  @each $name, $value in $breakpoints {
    $prefix: '#{$name}\\:';
    @media screen and (max-width: $value) {
      @content ($prefix);
    }
  }
}
