@use 'root' as *;

$font-size: 16px;


$color: (
  'gray-100': #f3f4f6,
  'gray-200': #e5e7eb,
  'gray-300': #d1d5db,
  'gray-400': #9ca3af,
  'gray-500': #6b7280,
  'gray-600': #4b5563,
  'gray-700': #374151,
  'gray-800': #1f2937,
  'gray-900': #111827,
  'black': #000000,
  'white': #ffffff,
);
$font-size: (
  sm: rem(12.8),
  normal: rem(16),
  lg: rem(20),
  xl: rem(25),
  2xl: rem(31.25),
  3xl: rem(39.06),
  4xl: rem(48.83),
  5xl: rem(61.04),
);
$font-family: (
  'system': #{'Helvetica Neue',
  Arial,
  'Hiragino Kaku Gothic ProN',
  'Hiragino Sans',
  Meiryo,
  sans-serif},
);
$font-weight: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);
$letter-spacing: (
  xs: -0.05em,
  sm: -0.025em,
  normal: 0,
  lg: 0.025em,
  xl: 0.05em,
  2xl: 0.1em,
);
$line-height: (
  none: 1,
  xs: 1.2,
  sm: 1.4,
  normal: 1.6,
  lg: 1.8,
  xl: 2,
);
$spacing: (
  none: 0,
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(20),
  xl: rem(32),
  2xl: rem(52),
  3xl: rem(84),
  4xl: rem(136),
);
$easing: (
  ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1),
  ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1),
  ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1),
  ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1),
  ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1),
  ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1),
  ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1),
);
$breakpoints: (
  'md': 768px,
  'sm': 414px,
);
$path: '../images';
