$color: (
  'black': #000000,
  'white': #ffffff,
  'blue': #99c3ff,
);
$spacing: (
  '0': 0,
  'xs': 8px,
  'sm': 12px,
  'md': 16px,
  'lg': 24px,
  'xl': 32px,
  '2xl': 48px,
  '3xl': 64px,
  '4xl': 96px,
  '5xl': 128px,
  '6xl': 192px,
  '7xl': 256px,
);
$font-size: (
  '2xs': (
    'min': 8px,
    'max': 10px,
  ),
  'xs': (
    'min': 10px,
    'max': 12px,
  ),
  'sm': (
    'min': 12px,
    'max': 14px,
  ),
  'normal': (
    'min': 14px,
    'max': 16px,
  ),
  'lg': (
    'min': 16px,
    'max': 20px,
  ),
  'xl': (
    'min': 18px,
    'max': 24px,
  ),
  '2xl': (
    'min': 22px,
    'max': 32px,
  ),
  '3xl': (
    'min': 26px,
    'max': 40px,
  ),
  '4xl': (
    'min': 30px,
    'max': 48px,
  ),
  '5xl': (
    'min': 37px,
    'max': 62px,
  ),
);
$font-family: (
  'system': #{'Helvetica Neue',
  Arial,
  'Hiragino Kaku Gothic ProN',
  'Hiragino Sans',
  Meiryo,
  sans-serif},
);
$font-weight: (
  'thin': 100,
  'extralight': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);
$letter-spacing: (
  'xs': -0.05em,
  'sm': -0.025em,
  'normal': 0,
  'lg': 0.025em,
  'xl': 0.05em,
  '2xl': 0.1em,
);
$line-height: (
  'none': 1,
  'sm': 1.25,
  'normal': 1.5,
  'lg': 1.75,
  'xl': 2,
);
$easing: (
  'ease-in': cubic-bezier(0.5, 0, 0.75, 0),
  'ease': cubic-bezier(0.76, 0, 0.24, 1),
  'ease-out': cubic-bezier(0.25, 1, 0.5, 1),
);
$breakpoints: (
  'sm': 430px,
  'md': 820px,
);
$image-path: '../images';
