@use '../../global' as *;

.c-container {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.c-container--full {
  width: 100%;
}

.c-container--sm {
  max-width: 960px;
}
