@use '../../global' as *;

.c-frame {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;

  > img,
  > iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-frame--contain {
  > img,
  > iframe {
    object-fit: contain;
  }
}

.c-frame--map {
  aspect-ratio: 12/5;
  @include media(sm) {
    aspect-ratio: 1/1;
  }
}

.c-frame--round {
  border-radius: 10px;
}

.c-frame--1to1 {
  aspect-ratio: 1/1;
}

.c-frame--4to3 {
  aspect-ratio: 4/3;
}

.c-frame--3to2 {
  aspect-ratio: 3/2;
}

.c-frame--16to9 {
  aspect-ratio: 16/9;
}

.c-frame--2to1 {
  aspect-ratio: 2/1;
}

.c-frame--12to5 {
  aspect-ratio: 12/5;
}
