@use '../../global' as *;

@include apply-breakpoints using ($prefix) {
  @each $name, $value in $spacing {
    .#{$prefix}c-gutter--#{$name} {
      margin-top: calc(var(--spacing-#{$name}) * -1);
      margin-left: calc(var(--spacing-#{$name}) * -1);

      > [class*='c-grid__'] {
        padding-top: var(--spacing-#{$name});
        padding-left: var(--spacing-#{$name});
      }
    }
  }
}
