@use '../../global' as *;

.c-table {
  display: table;
  width: 100%;
  table-layout: auto;

  th,
  td {
    padding-top: 0.75em;
    padding-right: 1em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    border: solid 1px var(--color-black);
  }
}

.c-table--fixed {
  table-layout: fixed;
}
