@use '../../global' as *;

.c-typography--text {
  font-size: var(--text-normal);
}

.c-typography--expanded {
  line-height: var(--leading-xl);
}

.c-typography--link {
  color: var(--color-blue);
  text-decoration: underline;
  @include media(hover) {
    text-decoration: none;
  }
}
