@use '../../../global' as *;

// clamp
@include apply-breakpoints using ($prefix) {
  .#{$prefix}u-clamp-1 {
    display: -webkit-box !important;
    overflow: hidden !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
  }
  .#{$prefix}u-clamp-2 {
    display: -webkit-box !important;
    overflow: hidden !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
  }
  .#{$prefix}u-clamp-3 {
    display: -webkit-box !important;
    overflow: hidden !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
  }
}
