@use '../../../global' as *;

// gap
@include apply-breakpoints using ($prefix) {
  @each $name, $value in $spacing {
    .#{$prefix}u-gap-#{$name} {
      gap: var(--spacing-#{$name}) !important;
    }
  }
}

// column-gap
@include apply-breakpoints using ($prefix) {
  @each $name, $value in $spacing {
    .#{$prefix}u-gap-x-#{$name} {
      column-gap: var(--spacing-#{$name}) !important;
    }
  }
}

// row-gap
@include apply-breakpoints using ($prefix) {
  @each $name, $value in $spacing {
    .#{$prefix}u-gap-y-#{$name} {
      row-gap: var(--spacing-#{$name}) !important;
    }
  }
}
