@use '../../../global' as *;

@include responsive using ($prefix) {
  .#{$prefix}u-m-auto {
    margin: auto !important;
  }
  .#{$prefix}u-m-0 {
    margin: 0 !important;
  }
  // margin
  @each $name, $value in $spacing {
    .#{$prefix}u-m-#{$name} {
      margin: $value !important;
    }
  }

  // margin-top
  .#{$prefix}u-mt-auto {
    margin-top: auto !important;
  }
  .#{$prefix}u-mt-0 {
    margin-top: 0 !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mt-#{$name} {
      margin-top: $value !important;
    }
  }

  // margin-right
  .#{$prefix}u-mr-auto {
    margin-right: auto !important;
  }
  .#{$prefix}u-mr-0 {
    margin-right: 0 !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mr-#{$name} {
      margin-right: $value !important;
    }
  }

  // margin-bottom
  .#{$prefix}u-mb-auto {
    margin-bottom: auto !important;
  }
  .#{$prefix}u-mb-0 {
    margin-bottom: 0 !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mb-#{$name} {
      margin-bottom: $value !important;
    }
  }

  // margin-left
  .#{$prefix}u-ml-auto {
    margin-left: auto !important;
  }
  .#{$prefix}u-ml-0 {
    margin-left: 0 !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-ml-#{$name} {
      margin-left: $value !important;
    }
  }
}
