@use '../../../global' as *;

@include apply-breakpoints using ($prefix) {
  // margin
  .#{$prefix}u-m-auto {
    margin: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-m-#{$name} {
      margin: var(--spacing-#{$name}) !important;
    }
  }

  // margin-x
  .#{$prefix}u-mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mx-#{$name} {
      margin-right: var(--spacing-#{$name}) !important;
      margin-left: var(--spacing-#{$name}) !important;
    }
  }

  // margin-y
  .#{$prefix}u-my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-my-#{$name} {
      margin-top: var(--spacing-#{$name}) !important;
      margin-bottom: var(--spacing-#{$name}) !important;
    }
  }

  // margin-top
  .#{$prefix}u-mt-auto {
    margin-top: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mt-#{$name} {
      margin-top: var(--spacing-#{$name}) !important;
    }
  }

  // margin-right
  .#{$prefix}u-mr-auto {
    margin-right: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mr-#{$name} {
      margin-right: var(--spacing-#{$name}) !important;
    }
  }

  // margin-bottom
  .#{$prefix}u-mb-auto {
    margin-bottom: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-mb-#{$name} {
      margin-bottom: var(--spacing-#{$name}) !important;
    }
  }

  // margin-left
  .#{$prefix}u-ml-auto {
    margin-left: auto !important;
  }
  @each $name, $value in $spacing {
    .#{$prefix}u-ml-#{$name} {
      margin-left: var(--spacing-#{$name}) !important;
    }
  }
}
