@use '../../../global' as *;

@include apply-breakpoints using ($prefix) {
  // padding
  @each $name, $value in $spacing {
    .#{$prefix}u-p-#{$name} {
      padding: var(--spacing-#{$name}) !important;
    }
  }

  // padding-top
  @each $name, $value in $spacing {
    .#{$prefix}u-pt-#{$name} {
      padding-top: var(--spacing-#{$name}) !important;
    }
  }

  // padding-right
  @each $name, $value in $spacing {
    .#{$prefix}u-pr-#{$name} {
      padding-right: var(--spacing-#{$name}) !important;
    }
  }

  // padding-bottom
  @each $name, $value in $spacing {
    .#{$prefix}u-pb-#{$name} {
      padding-bottom: var(--spacing-#{$name}) !important;
    }
  }

  // padding-left
  @each $name, $value in $spacing {
    .#{$prefix}u-pl-#{$name} {
      padding-left: var(--spacing-#{$name}) !important;
    }
  }
}
