// --------------------------------------------------
// Usage:
// <ul class="l-grid l-gutter--lg">
//   <li class="l-grid__6">...</li>
//   <li class="l-grid__6">...</li>
// </ul>
//
// Modifire:
// l-grid--[ $spacing ]
// --------------------------------------------------
@use '../global' as *;

@include responsive using ($prefix) {
  .#{$prefix}l-gutter--none {
    margin-top: 0;
    margin-left: 0;

    & > * {
      padding-top: 0;
      padding-left: 0;
    }
  }
  
  @each $name, $value in $spacing {
    .#{$prefix}l-gutter--#{$name} {
      margin-top: -#{$value};
      margin-left: -#{$value};

      & > * {
        padding-top: $value;
        padding-left: $value;
      }
    }
  }
}
